@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import 'bootstrap/dist/css/bootstrap.min.css';

@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

.background-image
{
    background-image: url('https://cdn.pixabay.com/photo/2016/11/29/02/05/audience-1866738_960_720.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}

.background-image2
{
    background-image: url('https://cdn.pixabay.com/photo/2018/03/15/22/10/writing-pad-3229690_960_720.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 400px;
}

.glyphicon-globe:before {
    content: "\e135";
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }